<div class="container">
  <div class="row">
    <div class="col-md-9">
      <iframe width="853" height="480" src="//www.youtube.com/embed/5LGEiIL1__s" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="area" class="col-md-3">
      <%= form_for @print do |f| %>
        <div class="row">
          <h5>Building</h5>
          <%= f.select(:building, buildings, :selected => choose_building) %>
        </div>

        <br>

        <div class="row">
          <h5>Printer</h5>
          <%= f.select(:printer, default_printers, :selected => choose_printer) %>
        </div>

        <br>

        <div class="row">
          <%
            policy, signature = $filepicker.policy('pick')
          %>
          <input id="filepicker" name="urls" data-fp-policy="<%= policy %>" data-fp-signature="<%= signature %>" data-fp-apikey="<%= $filepicker.api_key %>" type="filepicker-dragdrop" data-fp-multiple="true" data-fp-drag-class="col-xs-12 printatcu-dragdrop" data-fp-extensions="<%= ALL_EXTENSIONS.join(",") %>" data-fp-button-class="btn btn-primary btn-block btn-lg"/>
        </div>

        <br>

        <div class="row">
          <%= f.submit(:class => "btn btn-success btn-lg btn-block") %>
          
          <div class="checkbox">
            <%= f.label(:collate) do %>
              <%= f.check_box :collate %>
              <%= t("helpers.label.print.collate") %>
            <% end %>
          </div>
          
          <div class="checkbox">
            <%= f.label(:double_sided) do %>
              <%= f.check_box :double_sided %>
              <%= t("helpers.label.print.double_sided") %>
            <% end %>
          </div>
          
          <div class="input-group">
            <span class="input-group-addon">Copies:</span>
            <%= f.number_field :copies, :class => "form-control", placeholder: 1, maxlength: 2, :in => 1..99 %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>